BasedOnStyle: Chromium
BreakBeforeBraces: Attach
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
BreakBeforeTernaryOperators: true
ColumnLimit: 0
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
MaxEmptyLinesToKeep: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
TabWidth: 8
UseTab: Never
MaxEmptyLinesToKeep: 1
BreakConstructorInitializersBeforeComma: false
Standard: Cpp11
Cpp11BracedListStyle: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
PointerBindsToType: false
SpacesBeforeTrailingComments: 1
